{
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,

  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
